.portfolio {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem 2rem;
  padding-top: 2rem;
  overflow-y: auto;
  scroll-behavior: smooth;  
  .wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    
    @media (max-width: 768px) {
      flex-direction: column;
    }

    .portfolio-tabs-section {
      margin-top: 0;
      height: 100%;
      flex: 0.4;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      h1 {
        font-size: 6rem;
        margin-bottom: 0;
      }


      .portfolio-tabs {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;

        @media (max-width: 768px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
          place-items: center;
          gap: 0.5rem;


          .itemlist {
            font-size: 1rem;
          }
        }

        .itemlist {
          margin-bottom: 3rem;
          color: #ffc10c;
          font-size: 1.5rem;
          cursor: pointer;
          transition: all 2s ease;

          &:hover {
            transform: scale(1.1);
          }

          &.active {
            display: block;
            padding: 1rem;
            background-color: #ffc10c;
            color: #fff;
            border-radius: 1rem;
          }
        }
      }
    }

    .projects {
      flex: 0.6;
      height: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: start;
      transition: background-color 0.3s ease; 


      @media (max-width: 768px) {
        width: 100%;
        height: 100%;
        order: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;        
      }
  
      .card {
        width: 200px;
        min-height: 200px;
        margin: 1.5rem;
        -moz-perspective: 150rem;
        perspective: 150rem;
        position: relative;
        cursor: pointer;
      &-side {
        height: 100%;
        width: 100%;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        border-radius: 5px;
        box-shadow: 0 1.5rem 4rem black;
        display: flex;
        flex-direction: column;
        align-items: center;
          &-front {
            background-color: #FFFFFF; 
            color: #1c1c1c;
            h6 {
              margin-bottom: 2rem;
              font-size: 1.5rem;
            }
    
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              transition: all 2s ease;
              position: relative;
               }
          }
          
         &-back {
        transform: rotateY(180deg);
        background-color: #ffc10c;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 1rem;
        cursor: default;
         .summary {
           width: 100%;
           height: 100%;
           display: flex;
           flex-direction: column;
           justify-content: space-evenly;
           align-items: center;
           p {
            margin: .5rem .7rem;
            font-size: 1.7rem;
            color: #1c1c1c;
           }
           span {
             display: inline-block;
             width: 50%;
             height: auto;
             padding: .5rem;
             align-self: center;
             background-color: #fff;
             color: #000;
             border-radius: 10px;
             text-align: center;
             cursor: pointer;
             &:hover {
              background-color:#1f1803;
              a {
                color: #fff;
              }
              
            }
            a {
              font-size: 1.5rem;
              
            }
           }
           .stack {
             list-style: none;
             display: flex;
             justify-content: space-evenly;
             flex-wrap: wrap;
             align-items: center;
             color: #000;
             font-size: 1.2rem;
             text-align: center;
             font-family:  'Roboto';
             li {
                display: inline-block;
                font-family: inherit;
                padding: .2rem;
                width: auto;
                height: auto;
                border-radius: 40%;
                background-color: #fff;
                margin: .5rem;
             }
           }
         }
         }
         
       }

       &:hover {
        .card-side-front {
          transform: rotateY(-180deg);
        }
        .card-side-back {
          transform: rotateY(0deg);
        }
      }
       
     
       .demoicons {
          color: #1c1c1c;
          font-size: 1.5rem;
        }

         @media(max-width: 800px) {
            margin: 0 auto;
            &:hover {
            .card-side-front {
                transform: rotateY(0);
        
            }
            .card-side-back {
                transform: rotateY(0);
        
            }
            }
         }
     
      }

      footer {
        width: 100%;
        height: auto;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: start;
        transform-origin: top;
        transition: all 2s ease;
        margin-bottom: 1rem;

        a {
          text-decoration: none;
          color: #000;

          .downarrow {
            font-size: 4rem;
            align-self: center;
            animation: moveArrow 4s ease infinite;
          }
        }
      
      }
       
      @media(max-width: 800px) {
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;        
        place-content: center;
        gap: 1rem;
     
      
        
      }
      
    }
  }
}
