$color-light-1: #f7f7f7;
$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;
$color-black: #000;
$color-white: #fff;
$color-light-2: #eee;
$color-secondary-light: #ffb900;
$color-secondary-dark: #FF7730;

.contact {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  transition: all 2s smooth;
  overflow-y: auto;
  scroll-behavior: smooth; 
  .left {
    flex: 0.4;
    margin-left: 2rem;
    align-self: start;
    padding-top: 5rem;

    @media (max-width: 768px) {
      text-align: center;
      h1 {
        font-size: 4.5rem;
        align-self: center;
      }
      iframe {
        display: none;
      }
    }

    iframe {
      border-radius: 20px;
    }
    @media(min-width: 768px) and (max-width: 1024px) {
       h1 {
        font-size: 4rem;
       }
       iframe {
        width: auto;
      }
    }
  }

  .right {
    flex: 0.6;
    height: 100%;
    display: flex;
    flex-direction: column;
  
    .formcontainer {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      font-size: 2rem;
      .social-links {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0.5rem 0;

        img {
          width: 20px;
          height: auto;
          margin: 0;
          margin-left: 1rem;
        }
      }

      form {
        width: 60%;
        min-height: auto;
        box-shadow: 0px 0px 2px 2px #ccc inset;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .forminput {
          width: auto;
          margin: 1rem;
          display: flex;
          flex-direction: column;
        }

        input {
          padding: 0.5rem 1rem;
          background-color: rgba(#eee, .5);

          border: none;
          border-bottom: 2px solid transparent;
          transition: all .3s;
          
          &:focus {
            outline: none ;
            box-shadow: 0 0rem 2rem rgba(#1c1c1c, .1);
            border-bottom: 2px solid #ffc01c;
          }
          &::-webkit-input-placeholder {
            color: #ffc01c;
           
          }
          &:focus:invalid {
            border-bottom: 2px solid $color-secondary-dark;
    
          }
        }
        textarea {
          background-color: rgba(#eee, .5);
          border: none;
          border-bottom: 2px solid transparent;
          &:focus {
            outline: none ;
            box-shadow: 0 1rem 2rem rgba(#1c1c1c, .1);
            border-bottom: 2px solid #ffc01c;
          }
          &::-webkit-input-placeholder {
            color: #ffc01c;
            padding: .4rem .7rem;
          }
        }

        input:invalid[focused="true"] {
          display: block;
          box-shadow: none;
        }

        span {
          color: red;
          margin: 0.5rem;
          display: none;
        }

        input:invalid[focused="true"] ~ span {
          display: block;
        }

        button {
          margin: 1rem 0.5rem;
          background-color: #ffc01c;
          color: #fff;
          padding: 0.5rem;
          border: none;
          border-radius: 2rem;
          cursor: pointer;
        }
      }
    }

    footer {
      width: 100%;
      height: auto;
      align-self: end;
      display: flex;
      justify-content: center;
      align-items: end;
      transform-origin: bottom;
      transition: all 2s ease;
      margin-bottom: 1rem;

      a {
        text-decoration: none;
        color: #000;

        .downarrow {
          font-size: 4rem;
          align-self: center;

          &:hover {
            animation: none;
          }
        }
      }
    }
  


  @media(min-width: 768px) and (max-width: 1024px) {
     .formcontainer {
        form{
          min-width: 80%;
          height: auto;
        }
     }

  }
  @media(max-width: 768px) and (max-height: 600px) {
   
  }
   
  }
  @media (max-width: 768px) {
    flex-direction: column;
     }
     @media(max-width: 500px) and (max-height: 600px) {
      padding: .7rem 0;
        .left {
            h1 {
              margin-top: .5rem;
              font-size: 3rem;
            }
        }
     }
}
