.intro {
    width: 100%;
    height: 100%;
    display: flex;
    background: transparent;
        @media(max-width: 768px) {
        background: #FFF7DF;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 6rem;
      }
    .right-section {
       width: 100%;
       height: 100%;
       flex: 0.4;
       justify-content: center;
       align-items: end;
       padding: 1rem 2rem;
     
       .pic-section {
          width: 100%;
          height: 100%;
          position: relative;   
          &::before {
            position: absolute;
            right: -4rem;
            bottom: 2rem;
            width: 100%;
            height: 10%;
            border-radius: 50%;
            transform: translateY(-50%);
            content: 'Minimalistic design caters well to business';
            font-size: 1.5rem;
            color:#ffc10c;
            font-weight: 300;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width: 768px) {
               color: #1c1c1c;
               transform: unset;
               top: 1rem;
               left: -1rem;

            }
           
          }
        
       img {
          position: absolute;
          top: -15%;
          left: -40px;
          width: 100%;
          height: 100%;
          background-color: transparent;
          object-fit: cover;
          align-self: center;
          z-index: 4;
        
       }     
    }

    @media(max-width: 768px) {
            order: 0;
            width: 100%;
            height: 100%;
            padding: 1rem 0;
            .pic-section {
                width: 100%;
                height: 100%;
                position: relative;
                img {
                    position: absolute;
                    top: -100px;
                    left: -70px;
                    width: 100%;
                    height: 200%;
                    object-fit: contain;
                }
               
            }

        
    }
    }
    .left-section {
        flex: 0.6;
         width: 100%;
         height: 100%;
         display: flex;
         padding-left: 3rem;
         margin-right: 1rem;
         flex-direction: column;
         justify-content: center;
         align-items: end;
         h1 {
            font-size: 10rem;
            font-weight: 700;
            align-self: end;
         }
         h2 {
            font-size: 2.5rem;
            font-weight: 400;
            color: #ffc10c;
         }
         h3 {
            font-size: 3rem;
            align-self: end;
            margin-left: 2rem;
         }
         span {
            margin-left: 1rem;
            color: #ffc10c;
         }
         ul {
            display: flex;
            list-style: none;
            align-items: end;
            padding: .5rem;
            li {
                margin: 1.5rem 1rem;
                .icons {
                    color: #ffc10c;
                    font-size: 2rem;
                }
            }
         }
         footer {
            width: 100%;
            height: auto;
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            transform-origin: top;
            transition: all 2s ease;
            a {
                text-decoration: none;
                color: #000;
             .downarrow {
               font-size: 4rem;
               align-self: center;
               animation: moveArrow 4s ease infinite;
            }
        }
         }

         @media(max-width: 768px) {
                width: 100%;
                height: 100%;
                order: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 0;
                 h1 {
                    font-size: 500%;
                    align-self: center;
                 }
                h2, h3 {
                    margin: 0;
                    font-size: 200%;
                    align-self: center;

                }
                footer {
                    display: none;
                }
              
         }
    }
    @keyframes moveArrow {
        0% {
          transform: translate(0, 0);
          opacity: 0.2;
        }
        50% {
          transform: translate(0, 2px);
          opacity: 0.5;
        }
        100% {
          transform: translate(0, 100%);
          opacity: 1;

        }
      }
      
      
}

  
  
  
  
  